@model JoMAR.ChatRoom
        
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ChatRoom</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isPublic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isPublic)
            @Html.ValidationMessageFor(model => model.isPublic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isPrivate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isPrivate)
            @Html.ValidationMessageFor(model => model.isPrivate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @User.Identity.Name
            @Html.ValidationMessageFor(model => User.Identity.Name)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
