@model IEnumerable<JoMAR.ChatRoom>

@{
    ViewBag.Title = "PublicRooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Public ChatRooms</h2>

<p>
    @Html.ActionLink("Create New chatroom", "create")
</p>
<table id="chatRooms">
    <tr>
        <th>
            Chatrooms
        </th>
        <th>
           Owner of room 
        </th>
        <th></th>
    </tr>

@foreach (JoMAR.ChatRoom item in Model)
{
    if (item.isPublic)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aspnet_User.UserName)
        </td>
        <td>           
            @Html.ActionLink("Enter room", "", "Chat/" + item.Name)
        <td>           
            @Html.ActionLink("Enter " + (item.isPrivate ? " private " : " ") + "room", "", "Chat/" + item.Name)
        </td>
    </tr> 
    }
}  
</table>