@model IEnumerable<JoMAR.ChatRoom>

@{
    ViewBag.Title = "PublicRooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Public ChatRooms</h2>

<p>
    New rooms will appear below. @Html.ActionLink("Create New chatroom", "create")
</p>
<table id="chatRooms">
    <tr>
        <th>
            Chatrooms
        </th>
        <th>
           Owner of room 
        </th>
        <th></th>
    </tr>

@foreach (JoMAR.ChatRoom item in Model)
{
    if (item.isPublic)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aspnet_User.UserName)
        </td>
        <td>           
            @Html.ActionLink("Enter " + (item.isPrivate ? " private " : " ") + "room", "", "Chat/" + item.Name)
        </td>
    </tr> 
    }
}  
</table>
<script type="text/javascript">
    window.setInterval(getRooms, 5000);

    function getRooms() {
        $.getJSON('@Url.Action("getRooms", "Jason")', function (result) {
            var header = "<tr><th>Chatrooms</th><th>Owner of room </th><th></th></tr>\n";
            var rooms = [];
            $.each(result, function (k, item) {
                var link = '@Url.Action("", "Chat")';
                rooms.push("<tr><td>" + item.name + "</td><td>" + item.avatar +"</td><td>" + "<a href='" + link + "/"+ item.name + "'> Enter " + (item.isPrivate ? "private " : " ") + "room</a>" + "</td></tr>");
            });
            $("#chatRooms").html(header+rooms.join("\n"));
        });
    }
</script>