@model JoMAR.Models.ChatModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chatroom: @Html.DisplayTextFor(model => model.Name)</h2>


<div class="display-label right-float"></div>
        <div class="display-field right-float" id="users">
        </div>
        <div class="display-label left-float"> MessageBoard</div>
        <div class="display-field left-float">        
            @Html.TextArea("Messages",new { @class = "messageBoard"}) 
        </div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Chatting</legend>
        

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
        <p>
            <input type="submit" value="Publish message" />
            <input type="button" id="upload"  value="Upload File" />
        </p>
    </fieldset>
}
<script type="text/javascript">
    Messages.scrollTop = Messages.scrollHeight;

    window.setInterval(getPosts, 1000);
    window.setInterval(getUsers, 5000);

    $(document).ready(function () {
        getUsers()
        getPosts()
    });

    function getPosts() {
        $.getJSON("/Jason/getMessages/@Model.RoomID", function (result) {
            $("#Messages").replaceWith("<ul id='Messages'><li>" + result.join("</li><li>") + "</li></ul>");
        });
    }

    //$("Messages").clean();
    $("form").submit(function () {
        $.ajax({
            type: "POST",
            url: "/Chat/@Model.UrlName()",
            data: $("form").serialize(),
            success: getPosts()
        });
        return false;
    }
    );

    function getUsers() {
        $.getJSON("/Jason/getUsersOnRoom/@Model.RoomID", function (data) {
            var emails = [];
            var gravatar = [];
            $.each(eval('(' + data + ')'), function (i, item) {
                emails.push(item.Email);
                if (item.UserName != "@User.Identity.Name") {
                    gravatar.push(item.Gravatar + "<br/><a href='/Chat/" + item.UserName + "'>" + item.UserName + "</a>");
                }
            });
            $("#users").html("<ul style='list-style:none;'><li>" + gravatar.join("</li><li>") + "</li></ul>");
        });
    }

    $('#upload').click(function () {
            var windowSizeArray = ["width=500,height=10", "width=600,height=10,scrollbars=yes"];
            var windowName = "Upload file";
            var windowSize = windowSizeArray;
            window.open("/Chat/UploadFile/@Model.RoomID", windowName, windowSize);
            event.preventDefault();
        });

   
</script>