@model JoMAR.Models.ChatModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayTextFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ChatModel</legend>

        <div class="display-label">MessageBoard</div>
        <div class="display-field">
            @Html.TextArea("Messages", Model.Messages());
        </div>
        <div class="display-label">Users</div>
    <div class="display-field">
        <ul>
            @foreach (var user in Model.Users)
            {
            <li>@user.UserName</li>
            }
        </ul>
    </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}