@model JoMAR.Models.ChatModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayTextFor(model => model.Name)</h2>



@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ChatModel</legend>
        <div class="display-label right-float"></div>
        <div class="display-field right-float">
            <h2>Users</h2>
            <ul>
                @foreach (var user in Model.Users)
                {
                             
                @Html.ActionLink(user.UserName, "", "Chat/" + user.UserName) <br />
                    
                
                }
            </ul>
        </div>
        <div class="display-label">MessageBoard</div>
        <div class="display-field">
        
            @Html.TextArea("Messages",new { @class = "messageBoard"})

            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>

        <p>
            <input type="submit" value="Publish message" class="button" />
        </p>
    </fieldset>
}
<script type="text/javascript">
    Messages.scrollTop = Messages.scrollHeight;

    window.setInterval(getPosts, 100);

    function getPosts() {
        $.getJSON("/Jason/getMessages/@Model.RoomID", function (result) {
            $("textarea#Messages").val(result.join("\n"));
        });
    }


    $("form").submit(function () {
        $.ajax({
            type: "POST",
            url: "/Chat/@Model.Name",
            data: $(this).serialize(),
            success: getPosts()
        });
        return false;
    });

</script>