@model JoMAR.Models.ChatModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chatroom: @Html.DisplayTextFor(model => model.Name)</h2>



@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Chatting</legend>
        <div class="display-label right-float"></div>
        <div class="display-field right-float">
            <h4>Users</h4>
            <ul>
              <select id="lb" style="width:250px" multiple="multiple" size="10"> </select>
            </ul>
        </div>
        <div class="display-label left-float"> MessageBoard</div>
        <div class="display-field left-float">        
            @Html.TextArea("Messages",new { @class = "messageBoard"}) 
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
        <p>
            <input type="submit" value="Publish message" class="button" />
            <input type="button" id="upload"  value="Publish message" onclick=sendToUpload() />
        </p>


       
    </fieldset>
}
<script type="text/javascript">
    Messages.scrollTop = Messages.scrollHeight;
    var windowSizeArray = ["width=200,height=200",
                            "width=300,height=400,scrollbars=yes"];

    window.setInterval(getPosts, 1000);
    window.setInterval(getUsers, 5000);

    $(document).ready(function () {
        getUsers()
        getPosts()
    });

    function getPosts() {
        $.getJSON("/Jason/getMessages/@Model.RoomID", function (result) {
            $("textarea#Messages").val(result.join("\n"));
        });
    }
    $("Messages").clean();

    $("form").submit(function () {
        $.ajax({
            type: "POST",
            url: "/Chat/@Model.UrlName()",
            data: $(this).serialize(),
            success: getPosts()
        });
        return false;
    });

    function getUsers() {
        $.getJSON("/Jason/getUsersOnRoom/@Model.RoomID", function (data) {
            var html = '';
            var len = data.length;
            for (var i = 0; i < len; i++) {
                html += '<option value="' + data[i].toString() + '">' + data[i].toString() + '</option>';
            }
            $('#lb').html(html);
        });
    }

    function sendToUpload()
    {
            $('#upload').click(function () {
                var windowName = "Upload file"; //$(this).attr("name");
                var windowSize = windowSizeArray[$(this).attr("rel")];
                window.open('/Chat/UploadFile/', windowName, windowSize);
                event.preventDefault();
        });
    }
</script>