@model JoMAR.Models.ChatModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chatroom: @Html.DisplayTextFor(model => model.Name)</h2>
<p>Messages appear with the newest first.</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Chatting</legend>
        

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        
            <input type="submit" value="Publish message" />
            <input type="button" id="upload"  value="Upload File" />
        </div>
    </fieldset>
}
<div class="display-label right-float"></div>
        <div class="display-field right-float" id="users">
        </div>
        <div class="display-label left-float"> MessageBoard</div>
        <div class="display-field left-float" id="Messages">        
        </div>

<div id="images"></div>
<script type="text/javascript">
    window.setInterval(getPosts, 1000);
    window.setInterval(getUsers, 5000);

    $(document).ready(function () {
        getUsers()
        getPosts()
    });

    function getPosts() {
        $.getJSON('@Url.Action("getMessages", "Jason")/@Model.RoomID', function (result) {
            var messages = [];
            $.each(result, function (k, item) {
                var date = new Date(parseInt(item.date.substr(6)));
                var dato = date.getDay() + "." + date.getMonth() + " " + +date.getHours() + ":" + date.getMinutes();
                var user = "<a href='" + '@Url.Action("", "Chat")' + "/" + item.user + "'>" + item.user + "</a>";
                var msg = dato + " " + user + ": " + item.text;
                if (item.image != null) {
                    msg += " <a href='" + '@Url.Action("", "uploads")' + "/" + item.image + "'>" + item.image + "</a>";
                }
                if (item.missing) msg += " (file is lost)";
                messages.push(msg);
            });
            $("#Messages").html("<ul style='list-style:none;'><li>" + messages.join("</li><li>") + "</li></ul>");
        });
    }

    $("form").submit(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action(@Model.UrlName(), "Chat")',
            data: $("form").serialize(),
            success: function () {
                getPosts();
            }
        });
        $("#Message").val("");
        return false;
    }
    );

    function getUsers() {
        $.getJSON('@Url.Action("getUsers", "Jason")/@Model.RoomID', function (data) {
            var emails = [];
            var gravatar = [];
            $.each(eval('(' + data + ')'), function (i, item) {
                emails.push(item.Email);
                if (item.UserName != "@User.Identity.Name") {
                    gravatar.push(item.Gravatar + "<br/><a href=" + '@Url.Action("", "Chat")' + "/" + item.UserName + "'>" + item.UserName + "</a>");
                }
            });
            $("#users").html("<ul style='list-style:none;'><li>" + gravatar.join("</li><li>") + "</li></ul>");
        });
    }

    $('#upload').click(function () {
            var windowSizeArray = ["width=500,height=10", "width=600,height=10,scrollbars=yes"];
            var windowName = "Upload file";
            var windowSize = windowSizeArray;
            window.open('@Url.Action("uploadFile", "Chat")/@Model.RoomID', windowName, windowSize);
            event.preventDefault();
        });
</script>