@model JoMAR.Models.ChatModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayTextFor(model => model.Name)</h2>

<fieldset>
    <legend>ChatModel</legend>

    <div class="display-label">MessageBoard</div>
    <div class="display-field">
        <ul>
            @foreach(var message in Model.MessageBoard) {
            <li>(@message.Date) @message.aspnet_User.UserName said: @message.Text</li>
            }
        </ul>
    </div>

    <div class="display-label">Users</div>
    <div class="display-field">
        <ul>
            @foreach (var user in Model.Users)
            {
            <li>@user.UserName</li>
            }
        </ul>
    </div>

    <div class="display-label">Message</div>
    <div class="display-field">
        @Html.TextArea("message")
    </div>
</fieldset>